# Nested GIT Repository folders to ignore
boundary/

# Identifies the subfolders and files to ignore from the 
# Subfolders to ignore
.scannerwork/
target/
logs/
wsdl/

# Files to ignore 
catalog.xml
Thumbs.db
thumbs.db
*.pdf
*.log